<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Homenaje&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/createProduct.css">
        <title>createProduct</title>
    </head>
    
    <body>
        <%- include("../partials/header") %>
        <main>
            <form action="/products/create" method=POST  class="productCreation" enctype="multipart/form-data">
                <h2>Agregar producto</h2>

               

                <label for="productName" class="formLabel"> Nombre del producto (*) </label>
                <input type="text" name="name" id="name" class="name" value="<%= locals.oldData && oldData.name ? oldData.name : '' %>">
                <% if(locals.errors && errors.name){ %>
                    <div  style="color: red;">
                        <%= errors.name.msg %>
                    </div>
                <% } %>
            
                <label for="description" class="formLabel"> Descripción (*) </label>
                <input type="text" name="description" id="description" class="description" value="<%= locals.oldData && oldData.description ? oldData.description : '' %>" >
                <% if(locals.errors && errors.description){ %>
                    <div  style="color: red;">
                        <%= errors.description.msg %>
                    </div>
                <% } %>      
                    
                <label for= "image" class="formLabel"> Imagen(Max 5) (*) </label>
                <input type="file" id="image" name="images"  multiple  class="formImage" >
                <% if(locals.errors && errors.images){ %>
                    <div  style="color: red;">
                        <%= errors.images.msg %>
                    </div>
                <% } %>

               <!-- <label for= "imagedetail1" class="formLabel"> Imagen de detalle 1 </label>
                <input type="file" id="imagedetail1" name="imagedetail1" accept=".jpg" multiple  class="formImage">

                <label for= "imagedetail2" class="formLabel"> Imagen de detalle 2 </label>
                <input type="file" id="imagedetail2" name="imagedetail2" accept=".jpg" multiple  class="formImage">

                <label for= "imagedetail3" class="formLabel"> Imagen de detalle 3 </label>
                <input type="file" id="imagedetail3" name="imagedetail3" accept=".jpg" multiple  class="formImage"> -->
                
                <label for="category" class="formLabel">Seleccione una categoría (*)</label>
                <select class="category"  name="category" id="category" required>          
                    <% for(let i = 0; i < categorias.length; i++){ %>
                        <option value="<%=categorias[i].dataValues.ProductCategory_ID %>"><%= categorias[i].dataValues.CategoryType %></option>
                   <% } %>
                </select>

                <label for="brand" class="formLabel">Seleccione una marca (*)</label>
                <select class="category"  name="brand" id="brand" required>          
                    <% for(let i = 0; i < marcas.length; i++){ %>
                        <option value="<%= marcas[i].dataValues.Brand_ID %>"><%= marcas[i].dataValues.CompanyName %></option>
                   <% } %>
                </select>
                
                <label for= "price" class="formLabel"> Precio (*) </label>
                <input type="text" name="price" id="price" class="price" value="<%= locals.oldData && oldData.price ? oldData.price : '' %>">

                <label for= "discount" class="formLabel"> Descuento (%) </label>
                <input type="text" name="discount" id="discount" class="discount" value="<%= locals.oldData && oldData.discount ? oldData.discount : '' %>">

                <label for= "ranking" class="formLabel"> Ranking (*) </label>
                <input type="text" name="ranking" id="ranking" class="ranking" value="<%= locals.oldData && oldData.ranking ? oldData.ranking : '' %>">

                <label for= "weight" class="formLabel"> Weight(Kg) (*) </label>
                <input type="text" name="weight" id="weight" class="weight" value="<%= locals.oldData && oldData.weight ? oldData.weight : '' %>" >

                <label for= "size" class="formLabel"> Size(cm) (*) </label>
                <input type="text" name="size" id="size" class="size" value="<%= locals.oldData && oldData.size ? oldData.size : '' %>" >

                <label for= "stock" class="formLabel"> Stock (*) </label>
                <input type="text" name="stock" id="stock" class="stock" value="<%= locals.oldData && oldData.stock ? oldData.stock : '' %>" >

                <button type="submit" class="send">Enviar</button>
                <input type="reset" class="reset">

                <div class="errores">
                    <ul></ul>
                </div>
                
            </form>
        </main>
        <%- include("../partials/footer") %>

    </body>
    <script src="/js/validator.js"></script>
</html>