<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Homenaje&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/editProduct.css">
        <title>createProduct</title>
    </head>
    
    <body>
        <%- include("../partials/header") %>
        <main>
            <form action="/products/editProduct/<%= producto.Product_ID %>?_method=PUT" method=POST  class="productEdition" enctype="multipart/form-data">
                <h2>Editar producto</h2>

                
                
                <label for="productName" class="formLabel"> Nombre</label>
                <input type="text" name="name" id="name" class="name" value="<%= producto.ProductName %>">
            
                <label for="description" class="formLabel"> Descripción </label>
                <input type="text" name="description" id="description" class="description" value= "<%= detalle.Description %>" >      
                    
               <label for= "image" class="formLabel"> Imagen </label>
                <input type="file" id="image" name="imageupdate" accept=".jpg" multiple  class="formImage">
                
                <label for="imageactual" class="formLabel">Imagen Actual</label>
                <img src="/images/products/<%= producto.Image %>" id="imageactual" class="formCurrentImage">
                
                <label for="category" class="formLabel">Seleccione una categoría (*)</label>
                <select class="category"  name="category" id="category">           
                    <option value="1" <%= producto.ProductCategory_ID == "1" ? "selected" : "" %> >Consolas</option>
                    <option value="2" <%= producto.ProductCategory_ID == "2" ? "selected" : "" %> >Revistas</option>
                    <option value="3" <%= producto.ProductCategory_ID == "3" ? "selected" : "" %> >Ropa</option>
                    <option value="4" <%= producto.ProductCategory_ID == "4" ? "selected" : "" %> >Figuras</option>
                    <option value="5" <%= producto.ProductCategory_ID == "5" ? "selected" : "" %> >Videojuegos</option>
                </select>

                <label for="brand" class="formLabel">Seleccione una marca (*)</label>
                <select name="brand" id="brand" class="category">
                    <option value="1" <%= producto.Brand_ID == "1" ? "selected" : "" %> >Xbox</option>
                    <option value="2" <%= producto.Brand_ID == "2" ? "selected" : "" %> >PlayStation</option>
                    <option value="3" <%= producto.Brand_ID == "3" ? "selected" : "" %> >PC</option>
                    <option value="4" <%= producto.Brand_ID == "4" ? "selected" : "" %> >Figuras</option>
                    <option value="5" <%= producto.Brand_ID == "5" ? "selected" : "" %> >Ropa</option>
                    <option value="6" <%= producto.Brand_ID == "6" ? "selected" : "" %> >Nintendo</option>
                </select>
                
                <label for= "price" class="formLabel"> Precio </label>
                <input type="text" name="price" id="price" class="price" value="<%= producto.Price %>">
                <label for= "discount" class="formLabel"> Descuento </label>
                <input type="text" name="discount" id="discount" class="discount" value="<%= producto.Disccount %>">

                <label for= "ranking" class="formLabel"> Ranking (*) </label>
                <input type="text" name="ranking" id="ranking" class="ranking" value="<%= detalle.Ranking %>" required>

                <label for= "weight" class="formLabel"> Weight(Kg) (*) </label>
                <input type="text" name="weight" id="weight" class="weight" value="<%= detalle.Weight %>" required>

                <label for= "size" class="formLabel"> Size(cm) (*) </label>
                <input type="text" name="size" id="size" class="size" value="<%= detalle.Size %>" required>

                <label for= "stock" class="formLabel"> Stock (*) </label>
                <input type="text" name="stock" id="stock" class="stock" value="<%= detalle.Stock %>" required> 

                <button type="submit" class="send">Editar</button>

                <div class="errores">
                    <ul></ul>
                </div>
            </form>
        </main>
        <%- include("../partials/footer") %>
    </body>

    <script src="/js/validator.js"></script>
</html>