<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Terebigemu Land Register</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Homenaje&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/shoppingcar.css">
    </head>
    <body>
        <%- include("../partials/header") %>
        
        <div class="Banner">
            <img src="/images/Banner_SuperMario.jpg" alt="Banner">
        </div>
    
        <main>
            <section class="banner-section" >
                <img class="banner2" src="images/banner.jpg" alt="">
            </section>

            <section class="articulos">
                <section>
                    <div class="shopping-car"><i class="fas fa-shopping-cart"></i> Shopping car</div>
                </section>

                <form action="articulo" class="articulo">

                    <% for(let i =0 ; i < productos.product.length; i++){ %>

                        <div class="articulo">
                            <div class="checkbox-articulo"> 
                                <label for="articulo">   <%= productos.product[i].dataValues.ProductName %>  </label>
                            </div>
                            
                            <div class="picture-articulo">
                                <img class="articulo-foto" src="images/products/<%= productos.product[i].dataValues.Image %>" alt="">
                            </div> 
                            
                            <div class="description-articulo">
                                <b>Descripción</b>
                                
                                <p>
                                    <%= productos.product[i].dataValues.productdetail.dataValues.Description %>
                                </p>
                            </div>
    
                            <div class="description-articulo">
                                <b>Precio</b>
                            <% if(productos.product[i].dataValues.Disccount == 0 || productos.product[i].dataValues.Disccount == null){ %>
                                <p>$ <%= productos.product[i].dataValues.Price %></p>
                            <% }else{ %>
                                <del>$ <%=(productos.product[i].dataValues.Price).toLocaleString('en-US',
                                    {minimumFractionDigits:2})%>
                                </del>
                                <p>$ <%= (productos.product[i].dataValues.Price - ((productos.product[i].dataValues.Price * productos.product[i].dataValues.Disccount/100))).toLocaleString('en-US',{minimumFractionDigits:2}) %> </p>
                                
                            <% } %>
                            </div>

                            <form class="borrar-carrito" action="borrar-carrito">
                                <button>Eliminar del carrito</button>
                            </form>
                        </div>
    
                        <div class="relleno-linea">
                            <div >linea</div>
                        </div>

                    <%  } %>
                </form> 
            </section>

            <section class="seccion-total">
                <div class="texto-total">
                    <b>Total de artículos a pagar:</b> <b> <%= productos.product.length %> </b> <b>|</b>
                </div>
            
                <div>
                    <b>Subtotal</b>
                </div>
            
                <div class="subtotal-cantidad">
                    $12,500 MXN
                </div>
            </section>
        
            <section class="datos-envio">
                <section class="texto-envio">
                    <i class="fas fa-shipping-fast"></i>
                    <div class="texto-total"><b>Datos de envío</b></div>
                </section>
                
                <section class="formulario-pagar">
                    <section class="datos">
                        <div class="nombre-cliente">
                            <b>Cliente</b>
                            <%= console.log(user) %>
                            <p><%=user.FirstName + " " + user.LastName %> </p>
                        </div>
                    
                        <div class="nombre-cliente">
                            <b>Dirección</b>
                        
                            <p> <%= user.Address %> </p>
                        </div>
                    
                        <div class="nombre-cliente">
                            <b>Teléfono</b>
                            
                            <p> <%= user.Telephone %> </p>
                        </div>
                    </section>

                    <section class="boton-pagar">
                        <div>
                            <i class="fas fa-wallet"></i>
                        </div>
                        
                        <div>
                            <button class="pagar-ahora">Pagar ahora</button>
                        </div>
                    </section>
                </section>
            </section>

            

            <section class="banner">
                <img  src="images/banner.jpg" alt="">
            </section>
        
            
        </main>
        <%- include("../partials/footer") %>
    </body>
</html>