<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Terebigemu Land</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Homenaje&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/shoppingcar.css">
    </head>
    <body>
        <%- include("../partials/header") %>
        <div class="Banner">
            <img src="/images/Banner_SuperMario.jpg" alt="Banner">
        </div>
    
        <main>
            <section class="banner-section" >
                <img class="banner2" src="images/banner.jpg" alt="">
            </section>

            <section class="articulos">
                <section>
                    <div class="shopping-car"><i class="fas fa-shopping-cart" id="Enfocar"></i> Shopping car</div>
                </section>
                <% if(locals.productos){ %>
                    <%if(productos.product.length != 0){%>
                        <form action="articulo">
                            <% for(let i =0 ; i < productos.product.length; i++){ %>
                                <div class="articulo">
                                    <div class="first-details">
                                        <div class="name-articulo"> 
                                            <label for="articulo">   <%= productos.product[i].dataValues.ProductName %>  </label>
                                        </div>
                                              
                                        <div class="buttons-product">
                                            <div class="picture-articulo">
                                                <img class="articulo-foto" src="images/products/<%= productos.product[i].dataValues.Image %>" alt="">
                                            </div> 
                       
                                            <button class="plus" id='aumentar' onclick="aumentar()">+</button>
                                            <button class="minus" id='disminuir' onclick="disminuir()">-</button>
                                                  
                                            <input class="cantidad" type='text' id="cantidad" value="1">

                                            <form  action="/deleteProduct/<%= productos.product[i].dataValues.Product_ID %>?_method=DELETE" method="POST">
                                                <button class="eliminar-carrito">Eliminar del carrito</button>
                                            </form>

                                            

                                        </div>
                                    </div>
                                    <div class="description-articulo">
                                        <b class="b">Descripción</b>
                                        
                                        <p class="p-des">
                                            <%= productos.product[i].dataValues.productdetail.dataValues.Description %>
                                        </p>
                                    </div>
            
                                    <div class="precio-articulo">
                                        <b class="b">Precio</b>
                                        <% flag = 0 %>
                                        <% if(productos.product[i].dataValues.Disccount == 0 || productos.product[i].dataValues.Disccount == null){flag = 0  %>
                                            <p class="p-price">$ <%= productos.product[i].dataValues.Price %> MXN</p>
                                        <% }else{ flag=1 %>
                                            <del>$ <%=(productos.product[i].dataValues.Price).toLocaleString('en-US',
                                                {minimumFractionDigits:2})%> MXN
                                            </del>
                                            <p class="p-price">  $ <%= (productos.product[i].dataValues.Price - ((productos.product[i].dataValues.Price * productos.product[i].dataValues.Disccount/100))).toLocaleString('en-US',{minimumFractionDigits:2}) %> MXN</p>
                                        <% } %>
                                    </div>
                                </div>
                            <%  } %>
                        </form> 
                    </section>
    
                    <section class="seccion-total">
                        <div class="texto-total">
                            <b>Total de artículos a pagar:</b> <b> <%= productos.product.length %> </b>
                        </div>
                        
                        <div class="subtotal">
                            <b>Subtotal:</b>
                        </div>
                    
                        <div  class="subtotal-cantidad">
                            <% sum = 0 ,desc=0,sumdesc=0 %>
                            <% if(flag == 1){ 
                                for(let i = 0; i < productos.product.length; i++){
                                    sum = sum + parseInt(productos.product[i].dataValues.Price)
                                }
    
                                for(let i = 0; i < productos.product.length; i++){
                                    desc = (productos.product[i].dataValues.Price * productos.product[i].dataValues.Disccount/100)
                                    sumdesc = sumdesc + parseInt(desc)
                                }%>
                                <div>
                                    <del>$ <%= sum.toLocaleString('en-US',{minimumFractionDigits:2})  %> MXN </del>
                                </div>
                                <div>
                                / $ <%= (parseInt(sum)  - parseInt(sumdesc)).toLocaleString('en-US',{minimumFractionDigits:2})  %> MXN 
                                </div>
                            <%}else{
                                for(let i = 0; i < productos.product.length; i++){
                                    sum = sum + parseInt(productos.product[i].dataValues.Price)
                                }%>
                                <div class="granTotal">
                                    $ <%= sum.toLocaleString('en-US',{minimumFractionDigits:2})  %> MXN
                                </div>
                            <%}%> 
                        </div>
                    </section>
                <%}else{%>
                
                
                <% } %>    
                
            <% }else{ %>
                    <% console.log(locals.productos) %>
                <% } %>
            
            <section class="datos-envio">
                <section class="texto-envio">
                    <i class="fas fa-shipping-fast"></i>
                    <div class="texto-total"><b>Datos de envío</b></div>
                </section>
                
                <section class="formulario-pagar">
                    <section class="datos">
                        <div class="nombre-cliente">
                            <b>Cliente</b>
                            <p><%=user.FirstName + " " + user.LastName %> </p>
                        </div>
                    
                        <div class="nombre-cliente">
                            <b>Dirección</b>
                        
                            <p> <%= user.Address %> </p>
                        </div>
                    
                        <div class="nombre-cliente">
                            <b>Teléfono</b>
                            
                            <p> <%= user.Telephone %> </p>
                        </div>
                    </section>

                    <section class="boton-pagar">
                        <div>
                            <i class="fas fa-wallet"></i>
                        </div>
                        
                        <div>
                            <button class="pagar-ahora">Pagar ahora</button>
                        </div>
                    </section>
                </section>
            </section>

            

            <section class="banner-section">
                <img class="banner2"  src="images/banner.jpg" alt="">
            </section>
        
            
        </main>


        <%- include("../partials/footer") %>
    </body>
</html>