<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Homenaje&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/index.css">
        <title>Home</title>
    </head>

    <body>
        <%- include("./partials/header") %>
        <div class="Banner">
            <img src="/images/Banner_SuperMario.jpg" alt="Banner">
        </div>
        
        <main>
            <p class="last_Visits">Basado en tus últimas visitas</p>

            <section class="visits">
                <% for(let i = 0; i < productos.length; i++){ %>
                    <article>
                        <a href="/products/productDetail/<%=productos[i].dataValues.Product_ID %>"><img src="/images/products/<%=productos[i].dataValues.Image%>" ></a>
                        <p class="description"><%=productos[i].dataValues.ProductName%></p>   
                        <p class="price">$ <%= (productos[i].dataValues.Price).toLocaleString('en-US',{minimumFractionDigits:2}) %></p>
                        <% if(productos[i].dataValues.Disccount != 0){%>
                            <p class="price"> - <%= productos[i].dataValues.Disccount %> %</p>
                        <%}%> 
                    </article>
                <% } %>    
            </section>

            <p class="Popular_Articles">Artículos populares</p>
                    
            <section class="Popular">
                
                <% for(let i = 0; i < pop.length; i++){ %>
                    <article>
                        <a href="/products/productDetail/<%=productos[i].dataValues.Product_ID %>"><img src="/images/products/<%= pop[i].dataValues.product[0].dataValues.Image%>" > </a>
                        <p class="description"> <%= pop[i].dataValues.product[0].dataValues.ProductName %> </p>
                        <p class="price">$ <%= (pop[i].dataValues.product[0].dataValues.Price).toLocaleString('en-US',{minimumFractionDigits:2})%> </p>

                        <% if(pop[i].dataValues.product[0].dataValues.Disccount != 0){%>
                            <p class="price"> - <%= (pop[i].dataValues.product[0].dataValues.Disccount).toLocaleString('en-US',{minimumFractionDigits:2}) %> %</p>
                        <%}%> 
                    </article>
                <%} %>   
            </section>
        </main>
        <%- include("./partials/footer") %>
    </body>
</html>