<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Homenaje&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/userRegister.css">
        <title>Terebigemu Land</title>
    </head>
    
    <body>
        <%- include("../partials/header") %>
        
        <main>
            <form action="/users/userEdit/<%= user.User_ID %>?_method=PUT" method=POST  class="userRegistration" >
                <h2>Registrarse</h2>
                
                <label for="editName" class="formLabel"> Nombre (s) </label>
                <input type="text" name="editName" id="editName" class="name" value="<%=  user.FirstName %>"   required>

            
                <label for="lastName" class="formLabel"> Apellidos </label>
                <input type="text" name="editLastName" id="lastName" class="lastName" value="<%=  user.LastName %>"  required >


                <label for="age" class="formLabel"> Edad </label>
                <input type="text" name="editAge" id="age" class="name" value="<%=  user.Age %>"  required>
  
                
                <label for="email" class="formLabel"> Email </label>
                <input type="email" name="editEmail" id="email" class="name" value="<%=  user.Email %>"  required> 

                <label for="gender" class="formLabel"> Genero </label>
                
                <div style="display: flex;">
                    <input type="radio" class="formLabel" name="editGender" value="M" id="gender" <%= user.Gender == "M" ? "checked" : "" %>  required>
                    <p style="color: black; margin-top: 2%; margin-left: 1%;">Masculino</p>
                </div>
                
                <div style="display: flex;">
                    <input type="radio" class="formLabel" name="editGender" value="F" id="gender" <%= user.Gender == "F" ? "checked" : "" %>  required>
                    <p style="color: black; margin-top: 2%; margin-left: 1%;">Femenino</p>
                </div>

                <label for="address" class="formLabel"> Dirección </label>
                <input type="text" name="editAddress" id="address" class="name" value="<%= user.Address %>" required >

                <label for="phone" class="formLabel"> Teléfono </label>
                <input type="text" name="editPhone" id="phone" class="name" value="<%= user.Telephone %>" required >

              <% console.log(user.UserCategory_ID) %>
                <label for="level" class="formLabel"> Nivel </label>
                <select class="category"  name="level" id="level" required >           
                    <option value="">Seleccione una opción</option>
                    <option value="0" <%= user.UserCategory_ID == "0" ? "selected" : "" %> >Básico</option>
                    <option value="1" <%= user.UserCategory_ID == "1" ? "selected" : "" %> >Plata</option>
                    <option value="2" <%= user.UserCategory_ID == "2" ? "selected" : "" %> >Oro</option>
                    <option value="3" <%= user.UserCategory_ID == "3" ? "selected" : "" %>>Platino</option>
                </select> -->
                

                
                <button type="submit" class="send">Editar</button>
                
            </form>
        </main>
        <%- include("../partials/footer") %>
    </body>
</html>
