<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Homenaje&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/profile.css">
        <link rel="stylesheet" href="/css/productDetail.css">
        <title>User Profile</title>
    </head>
    
    <body>
        <%- include("../partials/header") %>
        <main>
            <div class="header">
                <div>
                    <div >Hola <%= user.FirstName + " " + user.LastName %> </div>
                </div>
                <div>
                    <img src="/images/users/<%= user.Photo %>" alt="No">
                </div>
                <div>
                    <% if(user.UserCategory_ID == "0"){
                            nivel="Básico"
                        }%>
                    <div>Nivel: <%= nivel %></div>
                </div>
                <div>
                    
                    <form  action="/users/userEdit/<%= user.User_ID%>" method="GET">
                        <button type="submit" class="edit" >Editar Información</button>
                    </form>
                </div>
            </div>
        </main>
        <%- include("../partials/footer") %>
    </body>
</html>